.list {
    display: grid;
    min-width: 100vh;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: 0 20px;
}
.produits {
    text-align: center;
}

.produits select {
    margin: 20px;
    width: 40%;
    padding: 5px;
    border: 2px solid rgb(29, 3, 146);
    text-align: center;
}