.produit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(186, 186, 186);
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.produit button {
    background-color: black;
    color: white;
}

.produit img {
    width: 100%;
    border-radius: 5px;
}

.produit h1 {
    font-size: 15px;
}
.produit p {
    font-size: 12px;
}

.produit h3 {
    font-size: 12px;
    margin-bottom: 5px;
}